:root{
/* --pagefind-ui-scale: 1;
--pagefind-ui-primary: #034ad8;
--pagefind-ui-text: #393939; */
--pagefind-ui-background: #ffffff;
--pagefind-ui-border: #eeeeee;
--pagefind-ui-tag: #eeeeee;
/* --pagefind-ui-border-width: 2px;
--pagefind-ui-border-radius: 8px;
--pagefind-ui-image-border-radius: 8px;
--pagefind-ui-image-box-ratio: 3 / 2;
--pagefind-ui-font: sans-serif; */
}


main{
	margin-top: 0;
  margin-left: 260px;
  margin-right: 30px;
  max-width: 685px;
}

header {
  margin-left: 260px;
  margin-right: 30px;
  max-width: 685px;
}



.sidebar {
    margin: 0;
    padding: 0;
    
    width: 230px;
    height: 100%;

    background-color: #f1f1f1;
    
    position: fixed;
    left: 0;
    top: 0;
    

    justify-content: center;
    overflow: auto;
  }
  
  .navpages a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .navpages a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .navpages a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  #figcap {
    justify-content: center;
    text-align: center;
  }
  


  @media screen and (max-width: 700px) {
    #toc {
      display: none;
    }

    main {
      margin-left: auto;
    }

    header {
      margin-left: auto;
    }

    .sidebar {
      width: 100%;
      height: auto;
      position: sticky;
    }

    #figcap {display: none;}
    .sidebar a {float: left;}
    /* div.content {margin-left: 0;} */
  }
  
  @media screen and (max-width: 400px) {
    #toc {
      display: none;
    }
    
    main {
      margin-left: auto;
    }

    header {
      margin-left: auto;
    }

    .sidebar a {
      text-align: center;
      float: none;
    }
    #figcap {display: none;}
  }


  /* Nav */
.navpages {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
  width: auto;
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.navpages a[href][aria-current="page"] {
	text-decoration: underline;
}

#search {
  font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
