
<link href="/public/pagefind/pagefind-ui.css" rel="stylesheet">
<div id="search" class="search"></div>
<script src="/public/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>